* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #6c63ff, #8b63ff);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #5a52e2;
}

.signup-text {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.signup-text a {
    color: #6c63ff;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
}

.logoimg {
    height: 45px;
}


.login-forgot{
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
}
.login-forgot a {
    text-decoration: none;

}